*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* Primary: #007BFF (Blue)
Secondary: #FFFFFF (White)
Accent: #0056b3 (Dark Blue) */
body {
  background-color: #007bff;
  margin: 0;
}
.home {
  transform: skewY(angle);
  min-height: 600px;
  display: flex;
}
.color{
  background-color: #007bff;
  height:100vh ;
  width: 100%;
}
.home > * {
  width: 50%;
  height: 600px;
  flex-grow: 1;
  margin-top: 3%;
}
.home .home-photo {
  margin-left: 7%;
  width: 35%;
  background-image: url(/images/a49cea3d21ce1622c252059afba26f30.jpg);
  background-size: cover;
  border-radius: 10px;
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.home-photo h1 {
  float: calc(2px + 5%);
}
.home .home-info {
  margin-right: 7%;
  display: flex;
  align-items: center;
}
.home-photo img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.info {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -2%;
  font-size: 1.5rem;
  background-color: white;
}
.info > * {
  margin: 0px 5% 0px 5%;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.links > * {
  color: black;
}
.projects{
    margin-top: 7%;

    min-height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
   
}
.projects .mywork{
    font-size:1.5rem ;
}
.projects > * {
    margin: 0px 5% 0px 5%;
    
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  1fr;
    gap: 40px;
  margin-bottom: 8%;

}
.project{
    max-width:fit-content;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.project:hover{
  transform: scale(1.1);
}

.screenshot{
    border-radius: 10px;
    background-color: red;
    width: 100%;
    height: 280px;
    background-image: url(/images/a49cea3d21ce1622c252059afba26f30.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-name{
    width: 100%;
    height: 60px;
    display: flex;
}
.project-name > * {
    height: 60px;
    font-size: 1.3rem;
}
.project-name .name{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-name .link{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.link a{
    color: black;
}
.project-info{
    width: 80%;
    margin-left: 8%;
    font-size: 1.2rem;
}
.footer{
  background-color: #007bff;
  height: 110vh;
  display: flex;
}
.contact{
  background-color: #007bff;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-top: 3%;
  padding-left: 5%;
  gap: 20px;
}
.contact > * {
  margin-bottom: -5px;
  width: 80%;
}

.para{
  font-size:25px;
}
.contact-links{
  display: flex;
  gap: 20px;
  height: 150px;
}
.contact-links a{
  color: black;
}
.contact-img{
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8%;
}

.contact-img img {
  width: 100%;
  height: auto; 
  max-height: 80vh;
  object-fit: cover; 
}
/* Mobile
Small Mobile: Up to 320px
Mobile: 321px to 480px
Tablet
Tablet Portrait: 481px to 768px
Tablet Landscape: 769px to 1024px */
@media(Max-Width: 768px){
  .project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  1fr 1fr;
    gap: 40px;
  margin-bottom: 8%;
  }
  .contact{
    width: 60%;
  }
  .contact-img{
    margin-right: 1%;
    width: 40%;
  }
  .contact-img img{
    max-height: 90vh;
  }
}
@media(Max-Width: 480px){
  .home {
    background-color: #007bff;
    min-height: 600px;
    display: block;
    width: 105%;
  }
  .home .home-photo{
    width: 92.5%;
    display: flex;
    justify-content: center;
    margin-left: 4%;
  }
  .home .home-info{
    width: 100%;
  }
  .home-info .info{
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    background-color: violet;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .projects  {
    width: 105%;
  }
   .projects .mywork{
    display: flex;
    justify-content: center;
   }
  .project-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
  margin-bottom: 8%;
  }
  .footer{
    display: flex;
    flex-direction: column;
    width: 105%;
  }
  .footer > *{
    width: 100%;
  }
  .footer .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
  }

  .contact-links{
    display: flex;
    justify-content: center;
  }

}